{{#if documents}}
    <div class='files'>
        {{#each documents}}
            <div class="card">
                <h3> {{ this.name }}</h3>
                <div class='buttons'>
                {{#if (isPdf this.extension)}}
                    <form action="/view/{{this.name}}" method="GET">
                        <button class="get-button" type="submit"><img  src="./assets/book-open.svg" alt="see"></button>  
                    </form>
                {{/if }}
                <form action="/download/{{this.name}}" method="GET">
                    <button class="get-button" type="submit"><img  src="./assets/download.svg" alt="download"></button>  
                </form>
                </div>
            </div>
            <hr>
        {{/each}}
    </div>    
{{else}}
    <div class='no-files'>
        <span>Nothing to show</span>
    </div>
{{/if}}


