<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cross Port</title>
    <link rel="stylesheet" href="./layouts/main.css">
</head>
<body>
    <header>
        <span class="title">Get your files</span>
        <figure>
            <img src="./assets/database.svg" alt="app logo">
        </figure>
    </header>
    {{{body}}}
</body>
</html>